
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/css/style.css" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="../Images/AWSLogo.jpg" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">





<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <title>Animal Welfare Society </title>
</head>

<body >
<div class="wrapper"></div>
<nav class="navbar navbar-default" id="NAVBAR">

    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">AWS</a>
    </div>

    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/news">News</a></li>

            {{#unless admin}}
              <li><a href="/Events">Events</a></li>
            {{/unless}}

            {{#if admin}}
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Events">Add Events</a></li>
                    </ul>
                </li>
            {{/if}}

            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Adoptions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/adoptions">Adoption Procedure</a></li>
                    <li class="divider"></li>
                    <li><a href="/adoptCat">Adopt a Cat</a></li>
                    <li class="divider"></li>
                    <li><a href="/adoptDog">Adopt a Dog</a></li>
                    {{#if admin}}
                    <li class="divider"></li>
                    <li><a href="/adoptions/add">Add Animal</a></li>
                    <li class="divider"></li>
                    <li><a href="/allAnimals">All Animals</a></li>
                    {{/if}}
                </ul>
            </li>

            <li><a href="/lostAndFound">Lost & Found</a></li>
            <li><a href="/GivenGain">Donations & GivenGain</a></li>

            <li><a href="/inspectors">Inspectors</a></li>

            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Contact Us <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/contactUs">Contact Us</a></li>
                    <li class="divider"></li>
                    <li><a href="/directions">Get Directions</a></li>
                </ul>
            </li>

        </ul>


        <ul class="nav navbar-nav navbar-left">
          {{#unless admin}}
            <li><a href="/login">Login</a></li>
            {{/unless}}

            {{#if admin}}
            <li><a href="/logout">Logout</a></li>
            {{/if}}
        </ul>
    </div>
</nav>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



<div class="container">
  {{{body}}}

  <div class="row"></div>
  <div class="spacer"></div>

  <div>
    <hr>

    <div class="col-xs-4 col-xs-offset-5 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 ">
      <!-- <h5>Created By: <img class="imgLogo" class="img-responsive" src="/Images/Logos/GreenCodeSolutionsLogo1.png"></h5> -->
      <h5>Created By: <img class="imgLogo" class="img-responsive" src="/Images/Logos/GreenCodeSolutionsLogo2.png"></h5>



    </div>
</div>
</div>



</body>
</html>
