
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Animal Welfare Society </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/New bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/New bootstrap/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Animal Welfare</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="./aboutUs">About Us</a></li>
                  <li><a href="./events">News & Events</a></li>
                  <li><a href="./adoptions">Adoptions</a></li>
                  <li><a href="./lostAndFound">Lost & Found</a></li>
                  <li><a href="./donations">Donations</a></li>
                  <li><a href="./GivenGain">GivenGain</a></li>
                  <li><a href="./inspectors">Inspectors</a></li>
                  <li><a href="./contactUs">Contact Us</a></li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{{{body}}}
<hr>
    <div class="row">
        <div class="col-lg-12">
          <p>Created By:</p>
          <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a></p>
          <p><a href="https://github.com/danger12001">Paul Robertson</a></p>

        </div>
    </div>
</footer>
</body>
</html>
