
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/New bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/New bootstrap/1-col-portfolio.css" rel="stylesheet">

    <title>Animal Welfare Society </title>

    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<style>
/*NEW NAV BAR STYLING PLEASE DONT DELETE COMMENTED OUT CODE*/
/*body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color:#425eb4;
}
*{
    margin: 0 auto 0 auto;
}

#wrap {
    height:150px;
    background:url(images/header1.png) no-repeat center;
    text-align:center;
    background-color:#FFF;
}

#nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 0px;  // looks like bootstrap is putting a left margin on your #nav you may want it off.

}
#nav li {
   display: inline-block;
   text-align:center;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
    color: #069;
    border-right: 1px solid #ccc; }
#nav li a:hover {
    color: #c00;
    text-align:center;
    background-color: #fff;}*/
    /* End navigation bar styling. */




body{margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
  background-color: #333;

}

ul.topnav li {float: left;
text-align: center;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}

</style>

<body>



<!-- <ul id="nav">
<li><a href="#">About Us</a></li>
<li><a href="#">Our Products</a></li>
<li><a href="#">FAQs</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Login</a></li>
</ul> -->





    <ul class="topnav" id="myTopnav" >
      {{#unless user}}
      {{#unless admin}}
      <li><a href="/">Home</a></li>
      <li><a href="/aboutUs">About Us</a></li>
      <li><a href="/events">News & Events</a></li>
      <li><a href="/adoptions">Adoptions</a></li>
      <li><a href="/lostAndFound">Lost & Found</a></li>
      <li><a href="/donations">Donations</a></li>
      <li><a href="/GivenGain">GivenGain</a></li>
      <li><a href="/inspectors">Inspectors</a></li>
      <li><a href="/contactUs">Contact Us</a></li>
      <li><a href="/allAnimals">All Animals</a></li>

      <li><a href="/login">Login</a></li>
      {{/unless}}
      {{/unless}}

      {{#if admin}}
      <li><a href="/">Home</a></li>
      <li><a href="/aboutUs">About Us</a></li>
      <li><a href="/events">News & Events</a></li>
      <li><a href="/adoptions">Adoptions</a></li>
      <li><a href="/lostAndFound">Lost & Found</a></li>
      <li><a href="/donations">Donations</a></li>
      <li><a href="/GivenGain">GivenGain</a></li>
      <li><a href="/inspectors">Inspectors</a></li>
      <li><a href="/contactUs">Contact Us</a></li>
      <li><a href="/allAnimals">All Animals</a></li>
      
      <li><a href="/logout">Logout</a></li>

      {{/if}}
  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script href="js/bootstrap.min.js"></script>
<hr>


{{{body}}}
<hr>
    <div class="container">
        <div class="col-lg-12">
          <p>Created By:</p>
          <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a></p>
          <p><a href="https://github.com/danger12001">Paul Robertson</a></p>

        </div>
    </div>
</footer>
</body>
</html>
