<hr>
<div class="row column">
    <h4 style="margin: 0;" class="text-center">About Us</h4>
</div>
<hr>
<div class="row">
    <div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
        <article>
            <div class="row">
              <div class="large-6 columns">
                  <!-- <p><img src="http://www.gravatar.com/avatar/25dadec5d898a6d67b0c7fd6e362b6b1?s=204&amp;d=http%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-204.png" alt="image for article" alt="article preview image"></p> -->
              </div>
              <div class="large-6 columns">
                <h5><a href="#">The Clinic</a></h5>
                    <p>The Animal Welfare Society of South Africa offers a full range of veterinary services to the underprivileged and disadvantaged communities of Cape Town.
                      From its base in Philippi, the Society handles about 4,000 animals per month. The Clinic is open 7 days a week to accommodate those that are unable to bring their pets during the week.
                      We have fully equipped and very busy theatres where we do sterilizations,
                      Orthopaedic and other procedures. At any one time we can house in excess of a hundred sick or injured animals.
                      We are committed to sterilizing every animal that comes through our hospital as our contribution to reducing the number of strays and unwanted animals in Cape Town.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="large-6 columns">
                    <!-- <p><img src="http://www.gravatar.com/avatar/25dadec5d898a6d67b0c7fd6e362b6b1?s=204&amp;d=http%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-204.png" alt="image for article" alt="article preview image"></p> -->
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">Adoption Kennels</a></h5>
                    <p>The Society also has Adoption kennels. We take in stray and unwanted pets to see if we can find them suitable homes.
                       The animal is sterilized and micro-chipped before leaving the Organization and we are strict about home-checks.
                        We have many very happy Adopters and pets out there in the greater Cape Town community.
                        The Animal Welfare Society also offers pound facilities to Law Enforcement.
                        Our Inspectorate department responds to daily calls with regard to cases relating to abuse and general neglect of animals as well as on going reported cases of animal fighting amongst our
                        communities.
                        Very often we respond to reports of injured stray animals, large and small on our public road ways by our City Traffic Department, SAPS and Metro Police.
                        The Society is funded entirely by the generosity of the public.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="large-6 columns">
                    <!-- <p><img src="http://www.gravatar.com/avatar/75e39b98681576fa4bd3b109042cf88c?s=204&amp;d=http%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-204.png" alt="image for article" alt="article preview image"></p> -->
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">History</a></h5>
                    <p>The Animal Welfare Society (AWS) was originally formed in 1929 to lobby the Cape Town City Council to adopt humane killing methods at its abbattoir.
                      During the 1930s the Animal Welfare Society set up part-time clinics in District Six, Claremont, Plumstead and Athlone followed by a travelling dispensary.
                      The van moved round the Cape Flats and during 1938 over 7000 animals received attention.
                      Kathleen Atkins took over the management of the Society in 1945 and remained at the helm till 1985.
                       During this period the Society acquired premises in Philippi where full-time Veterinary services were set up.
                        After Kate Atkins died June Woodman took over the management of the Society and built it up until it was in a position to build new facilities on the premises in Philippi,
                         with state of the art equipment during the period 2009 until 2011. She unfortunately passed away before the building was completed.</p>
                </div>
            </div>
            <hr>

        </article>
    </div>
    <!-- <div class="large-4 columns">
        <aside>
            <div class="row small-up-3">
                <div class="column text-center">
                    <i class="fi-social-facebook"></i>

                    <iframe frameborder="0" id="fr" scrolling="no" src="https://www.youtube.com/subscribe_widget?p=tyron10898" style="border: 0px; height: 75px; background:#FFF; overflow-x: hidden; overflow-y: hidden; width: 200px;"></iframe>
                    <br>
                </div>
                <div class="column text-center">
                    <i class="fi-social-twitter"></i>
                    <br>
                </div>
                <div class="column text-center">
                    <i class="fi-social-instagram"></i>
                    <h6>Use the next one...</h6>
                    <br>
                </div>
                <div class="column text-center">
                    <i class="fi-social-tumblr"></i>
                    <h6>13,765</h6>
                    <p><small>FOLLOWERS</small></p>
                </div>
                <div class="column text-center">
                    <i class="fi-social-pinterest"></i>
                    <h6>9,283</h6>
                    <p><small>FOLLOWERS</small></p>
                </div>
                <div class="column text-center">
                    <i class="fi-social-youtube"></i>
                    <h6>99,000</h6>
                    <p><small>FOLLOWERS</small></p>
                </div>
            </div>
            <br>
            <div class="row column">
                <p class="lead">FROM OUR FRIENDS</p>
                <p><img src="http://placehold.it/400x300&text=Buy Me!" alt="advertisement of ShamWow"></p>
            </div>
            <br>
            <div class="row column">
                <p class="lead">UNIQUE HITS:</p>
                <img id="globalcounter" src="http://services.webestools.com/cpt_global/31255-8.png" alt="Free Global Counter" />


              </div>
            </div>
        </aside>
    </div>
</div> -->
<script src="https://apis.google.com/js/platform.js"></script>
<footer>

    <div class="row expanded">
        <div class="medium-6 columns">
            <ul class="menu">
              <li><p>Created By:</p></li><li><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a></li>

            </ul>
        </div>

    </div>
</footer>
