
  <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="page-header">ADD ANIMAL TO ADOPTIONS</h1>
  </div>

  <!-- <h1>ADD ANIMAL TO ADOPTIONS</h1> -->
  <form action='/adoptions/add' method="POST" enctype="multipart/form-data">

    <div class="AddAnimal">


      <div class="col-md-12">
        <label>
          Name:
        <input name='name' class="form-control" type="text" required/>
      </label>
      </div>

      <div class="col-md-12">
        <label>
        Gender:
        <input name='gender' class="form-control" type="text" required/>
      </label>
      </div>

      <div class="col-md-12">
        <label>
        Age:
        <input name='age' class="form-control" type="text" required/>
      </label>
      </div>

      <div class="col-md-12">
        <label>
        ANIMAL:

        <select name='animal' class="form-control" required>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
        </select>
      </label>
      </div>



      <div class="col-md-12">
        <label>
        Size:

        <select name='size' class="form-control" required>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>

        </select>
      </label>
      </div>



      <div class="col-md-12">
        <label>
        Bio:
        <input style='width: 90%' name='bio' class="form-control" type="text" required/>
      </label>
      </div>

      <div class="col-md-12" >
        <input name='img' type="file" class="form-control"  required/>
      </div>

      <div class="col-md-12">
        <button class="btn btn-primary"  type="submit">Submit</button>
      </div>
    </div>
  </form>



  
