<div class="container">

<h1>ADD ANIMAL TO ADOPTIONS</h1>
<form action='/adoptions/add' method="POST">
Name:<input name='name' type="text"/>
Gender:<input name='gender' type="text"/>
Age:<input name='age' type="text"/>
ANIMAL(THIS SHOULD BE A SELECT):<input name='animal' type="text"/>
bio:<input name='bio' type="text"/>
IMAGE:<input name='img' type="file"/>
<button type="submit">Submit</button>
</form>
</div>
