<div class="container">

  <h1>ADD ANIMAL TO ADOPTIONS</h1>
  <form action='/adoptions/add' method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-3">Name:
        <input name='name' type="text" required/>
      </div>
      <div class="col-md-3">Gender:
        <input name='gender' type="text" required/>
      </div>
      <div class="col-md-3">Age:
        <input name='age' type="text" required/>
      </div>
      <div class="col-md-3">
        ANIMAL:
        <select name='animal' required>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
        </select>
      </div>
      <div class="col-md-12">
        bio:
        <input style='width: 90%' name='bio' type="text" required/>
      </div>
      <div class="col-md-12">
        <input name='img' type="file" required/>
      </div>

      <div class="col-md-12">
        <button class="btn" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
