

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Adoptions </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-3">
              <img class="img-responsive" src="http://placehold.it/1900x1200" alt="">

            </div>
            <div class="col-md-5">
                <h3>Adoption Procedure</h3>
                <ol>
                  <li><p>Look at the dogs and cats available on our site and get an idea of what you are looking for. Choosing a pet is a big responsibility and a long-term commitment. Remember your adopted friend will require food, water, exercise, veterinarian care as well as your love and attention.</p></li>
                  <li><p>Visit the Animal Welfare Kennels and see which dog/cat appeals to you and from whom you get a warm feeling. Make sure that the animal will fit into your lifestyle e.g. do not choose a big dog if you are unable to take it for long walks and you do not have a big space for it to live.</p></li>
                  <li><p>Once you have made your choice, if you have a dog at home bring it in to meet its prospective companion (if you are choosing another dog). It is important that they meet on neutral territory first and you can get an idea of how they are going to interact. (to speed things up you can bring your dog when you first visit the kennels)</p></li>
                  <li><p>If you choose a dog, once the paperwork is completed, an Inspector will call to make a time to visit your home to see that it is secure and will provide our dog(s) with a suitable environment to live in. If the Inspector approves, then your chosen dog will be booked for sterilization and micro-chipping. You will then be phoned when your pet is ready for collection. Cats do not require a property inspection.</p></li>
                  <li><p>Our adoption fee is as follows: R600 for a dog and R500 for a cat. All animals will be handed over to you fully vaccinated, sterilized and micro-chipped.</p></li>


            </div>
            <div class="col-md-3">
              <img class="img-responsive" src="http://placehold.it/1900x1200" alt="">

            </div>
        </div>
        <!-- /.row -->

        <hr>
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive" src="http://placehold.it/1900x1200" alt="">

          </div>
            <div class="col-md-5">
                <h3>Adopt A Cat or Dog</h3>
                <ol>
                <li><p>Please click on one of these buttons to take you to view all the animals that are up for adoption </p></li>
                </ol>
                <div class="row">
                <a class="btn btn-primary col-md-6" href="/adoptCat">Adopt a Cat </a>
                <a class="btn btn-primary col-md-6" href="/adoptDog">Adopt a Dog</a>
              </div>

{{#if admin}}
                <a href="/adoptions/add" class = "btn btn-primary col-md-12  center">Add an animal to adoptions</a>
{{/if}}

            </div>
            <div class="col-md-3">
              <img class="img-responsive" src="http://placehold.it/1900x1200" alt="">

            </div>
        </div>
        <hr>

        <!-- Project Two -->
        <div class="row">
          <div class="col-md-3">
            <!-- <img class="img-responsive" src="http://placehold.it/1900x1200" alt=""> -->

          </div>

            <div class="col-md-5">
                <h3>Adoption Form</h3>
                <ol>
                <li><p>Once you have decided on which animal(s) you would like to adopt, please download the form below and fill it out or email us at admin@awscape.org.za </p></li>
                </ol>
                <a class="btn btn-primary" href="#">Download Form </a>
            </div>

        </div>
        <!-- /.row -->






    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>



  </div>
