
  <h1 class="page-header">Contact Information </h1>

    <div class="row"></div>
    <div class="col-md-12">
        <div class="col-md-3"></div>

        <div class="col-md-6">
          <div id="contactUsDiv1 " name="ElementId" {{#if admin}}  class="Div borderClass "{{/if}}  >

              {{#contactUsDiv1}}
              <div class="Text" name="updatedText">
                  {{{updatedText}}}
              </div>
              {{/contactUsDiv1}}
                {{#if admin}}
                  <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                {{/if}}
              </div>

            <h2>Send Us an Email:</h2>

            <form action="/contactUs" method="post">

                <div class="form-group img-responsive">
                    <label for="InputName"> Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Your Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Message</label>
                    <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary pull-right">

            </form>


        </div>

</div>
<div class="row col-md-12" />


<script>

      $(".Button").click(function(e){
        var elementId = $(this).closest('div').attr('id');
        ElementName = elementId;

        var text = $(this).closest('div').find('.Text').text();
         updatedText = text;

      //   var Title = $(this).closest('div').find('.Title').text();
        //  heading=Title;
        //
         var PageURL = this.PageURL;
         var url = window.location.href;
        //
        PageURL = url;

         var data ={
           Text: updatedText,
           PageURL : PageURL,
           ElementId : ElementName
         }

         sessionStorage.setItem('data', JSON.stringify(data));


         console.log(data);

        //  $.get('/updateAboutUs', function(data){
        //  });


         });

         $('.Button').on('mouseenter',function(){
           $(this).closest('.Div').addClass('box-shadow');

           $('.Div').on('mouseleave',function(){
              $(this).closest('.Div').removeClass('box-shadow');
           })

         })


      </script>
