<hr>
<div class="row column">

    <h4 style="margin: 0;" class="text-center">Donate</h4>
</div>
<hr>
<div class="row">
    <div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
        <article>
            <div class="row">
              <div class="large-6 columns">
                  <p><img src=""  ></p>
              </div>
              <div class="large-6 columns">
                <h5><a href="#">Donations</a></h5>
                    <p><h5>As mentioned before, the society is funded entirely by the generoicity of the comunity.
                      If you would like to help out, please clock on the "Donate" button bellow.</h5></p>
                </div> <br>

                <button class="dropbtn" ><a href="https://www.payfast.co.za/donate/go/animalwelfaresocietyofsouthafrica" >Donate:</a></button>
              </div>


            <hr>
            <div class="row">
                <div class="large-6 columns">
                    <!-- <p><img src="http://www.gravatar.com/avatar/25dadec5d898a6d67b0c7fd6e362b6b1?s=204&amp;d=http%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-204.png" alt="image for article" alt="article preview image"></p> -->
                </div>
                <div class="large-6 columns">
                    <h5><a href="#">Our Banking Details</a></h5>
                    <p><h5>
                      <li>Standard Bank, Kromboom</li>
                      <li>Branch Code 026209</li>
                      <li>A/C Animal Welfare Society of SA</li>
                      <li>No. 07 286 319 6</li>
                      <li>Reference: Your surname plus Membership/Donation</li>
                      <li>For Section 18A Tax Certificate, please email us : Admin@awscape.org.za</li></h5>

                    </p>
                </div>
            </div>
            <hr>



        </article>
    </div>

<script src="https://apis.google.com/js/platform.js"></script>
<footer>

  <div class="row expanded">
      <div class="medium-6 columns">
          <ul class="createdBy">
              <p>Created By:</p>
              <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a></p>

          </ul>
      </div>

  </div>
</footer>
<style>
.dropbtn {
   background-color: #4CAF50;
   color: white;
   font-size: 16px;
   border: none;
   cursor: pointer;
   margin-left: 55%;
}
</style>
