


    <h1 class="page-header">Events</h1>
    <a href="/addEvent" class="btn btn-primary "><b>Add Event</b></a>
    <div class="img-responsive">


        {{#data}}
<div id="postContainer">

    <div class="post">
        <h3><label>Title: {{title}}</label></h3>
        <br>
        <textbox> Description: {{description}}</textbox>

      <div id="removeBtn">
        <a href="/Event/remove/{{id}}" class="btn btn-primary"><b>Remove</b></a>
      </div>
    </div>
</div>
    {{/data}}
  </div>
