<hr>
<div class="row column">
    <h4 style="margin: 0;" class="text-center">News And Events</h4>
</div>
<hr>


<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
    <div class="row">
        <div class="large-6 columns">

        </div>
        <div class="large-6 columns">
            <h4><a href="#"></h4>
            <h5><a href="#"></a></h5>

            <p>
                <h5> Below is a feed from our FaceBook page to keep<br> you upto date on whats happening in and around <br>Cape Town. </h5>
            </p>


            <!-- <div class="large-8 columns" style="border-right: 1px solid #E3E5E8;"> -->
            <article>
                <div class="fb-page" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
                 data-hide-cover="false" data-show-facepile="true">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fawsphilippi%2F%3Ffref%3Dts&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="400"
                        height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

                    <div id="fb-root"></div>
                    <script>
                        (function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                </div>

        </div>
    </div>
</div>
</article>

<script src="https://apis.google.com/js/platform.js"></script>
<footer>
    <div class="row expanded">
        <div class="large-6 columns">
            <ul class="menu">
                <li>
                    <p>Created By:</p>
                </li>
                <li><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a></li>

            </ul>
        </div>

    </div>

</footer>
