<div class="container">
    <div align="center" width="100%">
<div class="row">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Given Gain

            </h1>


            <div class="col-md-12">
            <p>The Animal Welfare Society in Cape Town offers subsidized medical treatment for the pets of the disadvantaged population of Cape Town.  From our premises in Philippi we operate seven days a week.</p>

          <hr>
      <h3>Our main focus areas are as follows:</h3>
                  <ul>
                    <li>Primary Health care for small domestic pets (mainly cats and dogs)</li>
                    <li>Education with regard to pet care and nutrition</li>
                    <li>In-patient care for the sick and wounded pets</li>
                    <li>Sterilization as a means of controlling the burgeoning dog and cat populations</li>
                    <li>Adoption kennels  for unwanted or stray animals</li>

                  </ul>
                  <hr>

                  <p>For over 80 years the Society has been helping the cats and dogs of the Cape Flats, and has developed from one mobile clinic to a state-of-the-art hospital with space for up to 120 sick animals.  The Adoption Kennels provide space for around 60 dogs and cats.</p>

                  <table>
              <td><strong><a href="https://www.givengain.com/cause/3857/">Donate through GivenGain</a> </strong></td>

              </table>


                </div>

        </div>
    </div>
  </div>
</div>


    <!-- <div class="row">
        <div class="col-md-6">
        </div>
    </div> -->

    <hr>



<!--
    <div class="row">
        <div class="col-md-6">
            <h3>Our main focus areas are as follows:</h3>
            <ul>
              <li>Primary Health care for small domestic pets (mainly cats and dogs)</li>
              <li>Education with regard to pet care and nutrition</li>
              <li>In-patient care for the sick and wounded pets</li>
              <li>Sterilization as a means of controlling the burgeoning dog and cat populations</li>
              <li>Adoption kennels  for unwanted or stray animals</li>

            </ul>
          </div>

        </div>



    <hr>


    <div class="row">

        <div class="col-md-6">

            <p>For over 80 years the Society has been helping the cats and dogs of the Cape Flats, and has developed from one mobile clinic to a state-of-the-art hospital with space for up to 120 sick animals.  The Adoption Kennels provide space for around 60 dogs and cats.</p>


        </div>
    </div>

    <a href="https://www.givengain.com/cause/3857/">Donate through GivenGain</a> -->
  </div>
</div>
</div>

<style>
table, th, td {
border: 2px solid black;
border-collapse: collapse;
padding:3px;
}

li{
  text-decoration: none;
}

</style>
