<div class="row">
    <div class="medium-4 columns">
        <!-- <img id="logo" src="Images/F4HLogo.png" alt="company logo"> -->
    </div>

</div>


<br>

</header>
<br>

<hr>
<div class="w3-content" style="max-width:800px;position:relative">

    <img class="mySlides" src="http://awscape.org.za/wp-content/uploads/2014/03/c1.gif" style="width:100%">
    <img class="mySlides" src="http://awscape.org.za/wp-content/uploads/2014/03/c2.gif" style="width:100%">
    <img class="mySlides" src="http://awscape.org.za/wp-content/uploads/2014/03/c3.gif" style="width:100%">
    <img class="mySlides" src="http://awscape.org.za/wp-content/uploads/2014/03/c6.gif" style="width:100%">
    <img class="mySlides" src="http://awscape.org.za/wp-content/uploads/2014/03/c5.gif" style="width:100%">



    <!-- <a class="glyphicon glyphicon-chevron-left" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a> -->
    <!-- <a class="glyphicon glyphicon-chevron-right" style="position:absolute;top:45%;right:0" onclick="plusDivs(1)">❯</a> -->

</div>
<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {
            slideIndex = 1
        }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 3000); // Change image every 2 seconds
    }
</script>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>
<hr>
<div class="row column">
    <h3 style="margin: 0;" class="text-center">What We Do</h3>
</div>
<hr>

<div class="row">
    <div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
        <article>
            <div class="row">
                <div class="large-6 columns">
                    <!-- <p><img src="http://www.gravatar.com/avatar/25dadec5d898a6d67b0c7fd6e362b6b1?s=204&amp;d=http%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-204.png" alt="image for article" alt="article preview image"></p> -->
                </div>
                <div class="large-6 columns">

                    <p>
                        <h5>The Animal Welfare Society of South Africa offers a full range of veterinary services to the underprivileged and disadvantaged communities of Cape Town.
                  From its base in Philippi, the Society handles about 4,000 animals per month. The Clinic is open 7 days a week to accommodate those that are unable to bring their pets during the week.
                  We have a fully equipped and very busy theatres where we do sterilizations, Orthopaedic and other operations. At any one time we can house over a hundred sick or injured animals.
                  We are committed to sterilizing every animal that comes through our hospital as our contribution to reducing the number of strays and unwanted animals in Cape Town</h5></p>
                </div>
            </div>





            <hr>
            <div class="row small-up-3 medium-up-4 large-up-5">
                <div class="column">
                    <iframe id="Vid" width="560" height="315" src="https://www.youtube.com/embed/UY8OnEDx-kg" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
            <hr>

    </div>
    <div class="row">

        <div class="large-4 columns">
            <aside>
                <div class="row small-up-3">
                    <div class="column text-center">
                        <i class="fi-social-facebook"></i>
                        <p><b>Please be kind enough to share our Facebook page</b></p>
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fawsphilippi%2F&layout=button&mobile_iframe=true&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true"></iframe>

                        <br>
                    </div>
                </div>
                <br>
        </div>
        </aside>
    </div>
</div>


<script>
    < div id = "fb-root" > < /div> <
        script > (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>

</script>
<script src="https://apis.google.com/js/platform.js"></script>

<div class="row expanded">
    <div class="medium-6 columns">
        <ul class="createdBy">
            <p>Created By:</p>
            <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a></p>

        </ul>
    </div>

</div>
</footer>
