  <div class="page-header">
    <h3>ANIMAL WELFARE SOCIETY OF SOUTH AFRICA</h3>
  </div>


<div class="sliderDiv img-responsive" >

    <img class="sliderimg img-responsive" src="/Images/Slider/sliderImage1.jpg" style="height:300px;width:850px;" >
 <img class="sliderimg img-responsive" src="/Images/Slider/sliderImage2.jpg"  style="height:300px;width:850px;" >
 <img class="sliderimg img-responsive" src="/Images/Slider/sliderImage3.jpg"  style="height:300px;width:850px;" >



  </div>

 <!-- </div> -->

<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("sliderimg");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) {
            slideIndex = 1
        }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 3000); // Change image every 3 seconds
    }
</script>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("sliderimg");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>

<hr>

<div class="row">
<div class="col-md-8 col-md-offset-2">
      <div id="homeDiv1" name="ElementId"  {{#if admin}} class="Div borderClass"{{/if}}>
        {{#homeDiv1}}
        <div class="Text" name="updatedText">
        <p><h4>{{{updatedText}}}</h4></div>
      {{/homeDiv1}}

        {{#if admin}}
          <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right"  href = "/update"  ></a>
          {{/if}}
      </div>
    <!-- <div class="col-md-2"></div> -->
</div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div  id="homeDiv2" {{#if admin}}class="Div borderClass"{{/if}}>
      {{#homeDiv2}}
        <div class="Text" name="updatedText">
          {{{updatedText}}}
        </div>
        {{/homeDiv2}}

        {{#if admin}}
          <a href="/update" class="Button glyphicon glyphicon-edit btn btn-primary pull-right"></a>
        {{/if}}
    </div>
  </div>
    <!-- /.col-md-4 -->
    <div class="col-md-5">
    <div  id="homeDiv3" {{#if admin}}class="Div borderClass"{{/if}}>
      {{#homeDiv3}}

      <div class="Text" name="updatedText">

            {{{updatedText}}}

      </div>
      {{/homeDiv3}}

        {{#if admin}}
          <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right"  href = "/update"  ></a>
          {{/if}}
    </div>
  </div>

</div>

<script>
  $(".ButtonWithoutHeading").click(function(e){
    var elementId = $(this).closest('div').attr('id');
        ElementName = elementId;

    var text = $(this).closest('div').find('.Text').text();
        updatedText = text;

  //
   var PageURL = this.PageURL;
   var url = window.location.href;
  //
       PageURL = url;

   var data ={
     Text: updatedText,
     PageURL : PageURL,
     ElementId : ElementName
    }
   console.log(data);

   sessionStorage.setItem('data', JSON.stringify(data));
   });
  //  $('.Div').on('mouseenter',function(){
  //    $(this).addClass('box-shadow');
   //
  //    $('.Div').on('mouseleave',function(){
  //      $(this).removeClass('box-shadow');
  //    })
   //
  //  })
</script>

<script>
    $(".Button").click(function(e){
      var elementId = $(this).closest('div').attr('id');
      ElementName = elementId;

      var text = $(this).closest('div').find('.Text').text();
       updatedText = text;

       var Title = $(this).closest('div').find('.Title').text();
        heading=Title;
      //
       var PageURL = this.PageURL;
       var url = window.location.href;
      //
       PageURL = url;

       var data ={
         Title: Title,
         Text: updatedText,
         PageURL : PageURL,
         ElementId : ElementName
       }

       sessionStorage.setItem('data', JSON.stringify(data));

       console.log(data);
       });

       $('.Button').on('mouseenter',function(){
         $(this).closest('.Div').addClass('box-shadow');

         $('.Div').on('mouseleave',function(){
            $(this).closest('.Div').removeClass('box-shadow');
         })

       })
</script>
