

    <div class="container">
<hr>
<div class="w3-content" style="max-width:800px;position:relative">

    <img class="mySlides" src="http://awscape.org.za/wp-content/uploads/2014/03/c1.gif" style="width:100%">



</div>

<hr>

        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-5">
              <h2>Inspectors</h2>
                <p><h3>If you would like to make an annonymous tip off for animal cruilty in your area, please sebd an email to : inspector@awscape.org.za</h3></p>

            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-10">


                        <div class="column text-center">
                            <i class="fi-social-facebook"></i>
                            <p><b>Please be kind enough to share our Facebook page</b></p>
                            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fawsphilippi%2F&layout=button&mobile_iframe=true&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true"></iframe>

                            <br>
                        </div>

                    <br>
            </div>
            </aside>
        </div>
    </div>



    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
