

    <div class="container">
<hr>
<h1 class="page-header" style="height:50px;text-align: center;">Inspectors Team</h1>


<div class="sliderDiv img-responsive" >

    <img src="/Images/Inspectors/InspectorsTeam.jpg" style="height:300px;width:850px;">

</div>



        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-12">
              <h2>You can Contact Us</h2>
                <p><h4>If you would like to make an annonymous tip off for animal cruilty in your area, please send an email to : inspector@awscape.org.za</h4></p>
                <p><h4>You can contact us on 021 692 2626</h4></p>


                <form  action="/contactUs" method="post" >
                  <div class="col-lg-6">

                    <div class="form-group">
                      <label for="InputName">Full Name</label>
                      <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <div class="form-group">
                      <label for="InputEmail">Your Email</label>
                      <div class="input-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <div class="form-group">
                      <label for="InputMessage">Message</label>
                      <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                  </div>
                </form>

          </div>
        </div>


        <hr>



        <div class="row">

            <div class="col-md-10">


                        <div class="column text-center">
                            <i class="fi-social-facebook"></i>
                            <p><b>Please be kind enough to share our Facebook page</b></p>
                            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fawsphilippi%2F&layout=button&mobile_iframe=true&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true"></iframe>

                            <br>
                        </div>

                    <br>
            </div>
            </aside>
        </div>
    </div>



    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
