


  <hgroup>

</hgroup>
<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">

  <form action="/login" method="POST">
    <div class="group col-sm-5 col-md-5 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Name</label>
      <input type="text" id="input" name="username" class="form-control" placeholder="Name" required="" autofocus="" >
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="input" class="form-control" placeholder="Password" required="">

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <h5 id = 'warning'>{{messages.warning}}</h5>
      </div>

  </form>
</div>
<div class="row col-md-12"/>
