
    <div class="row">
      <h1 class="page-header" style="height:50px;text-align: center;">Lost and Found</h1>
        <div class="col-md-6 portfolio-item">
          <div id="lostAndFoundDiv1" name="ElementId" {{#if admin}}  class="Div borderClass"{{/if}}>
              {{#lostAndFoundDiv1}}
                <div class="Text" name="updatedText">
                  {{{updatedText}}}
                </div>
            {{/lostAndFoundDiv1}}

            {{#if admin}}
                    <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
            {{/if}}
          </div>
        </div>

        <div class="col-md-6 portfolio-item">
          <div id="lostAndFoundDiv2" name="ElementId" {{#if admin}}  class="Div borderClass"{{/if}}>
            {{#lostAndFoundDiv2}}
                <div class="Text" name="updatedText">
                  {{{updatedText}}}
                </div>
              {{/lostAndFoundDiv2}}

                      {{#if admin}}
                              <a  class="Button glyphicon glyphicon-edit btn btn-primary pull-right" href="/update"  ></a>
                      {{/if}}
        </div>
    </div>

    <script>

          $(".Button").click(function(e){
            var elementId = $(this).closest('div').attr('id');
            ElementName = elementId;

            var text = $(this).closest('div').find('.Text').text();
            updatedText = text;

             var PageURL = this.PageURL;
             var url = window.location.href;

            PageURL = url;

             var data ={
               Text: updatedText,
               PageURL : PageURL,
               ElementId : ElementName
             }

             sessionStorage.setItem('data', JSON.stringify(data));


             console.log(data);

            //  $.get('/updateAboutUs', function(data){
            //  });


             });

             $('.Button').on('mouseenter',function(){
               $(this).closest('.Div').addClass('box-shadow');

               $('.Div').on('mouseleave',function(){
                  $(this).closest('.Div').removeClass('box-shadow');
               })

             })









          </script>
