
<div class="col-lg-12 col-md-12 col-sm-12">
    <h1 class="page-header">Update Content</h1>
</div>


<form  id="myForm" action='/update/content'  method='POST'  >

  <div class=col-md-12>
    <label> Content</label>
    <textarea id="textInput" class="form-control tinymce"
        name="updatedText"      
        style="resize:none"
        rows=15
      ></textarea>
  </div>

  <div class=col-md-12 hidden="hidden" >
    <label> ELEMENTID:</label>
    <input id="ElementId" type="text" name="ElementId" class="form-control" type="text"><h3> </h3></input>
  </div>

  <div class=col-md-12 hidden="hidden" >
    <label> pageURL:</label>
    <input id="PageURL" type="text" name="PageURL" class="form-control" type="text"><h3> </h3></input>
  </div>


  <div>

      <button type="submit" class="glyphicon glyphicon-edit btn btn-primary ">

    </div>


</form>

<script>
$(document).ready(function(){
  var temp =sessionStorage.getItem('data');
  var data = $.parseJSON(temp);

    //var title = data.Title;
    var Content = data.Text;
    var elementId = data.ElementId;
    var pageURL = data.PageURL;


  //var formTitle = $('#myForm').find('#titleInput').val(title);
  var formText = $('#myForm').find('#textInput').val(Content);
  var formElementId  = $('#myForm').find('#ElementId').val(elementId);
  var formPageURL  = $('#myForm').find('#PageURL').val(pageURL);


  // var editor = $("#textInput").Editor();
  // $("#textInput").Editor("getText");
  // $("#textInput").Editor("setText", "Hello")


});


$('#myForm input, textarea ').on('change', function() {
  var title = $('#titleInput').val();
var content = $('#textInput').val();
var formElementId  = $('#ElementId').val();
var formPageURL  = $('#PageURL').val();

var data = {
  Title : title,
  Content: content,
  ElementId: formElementId,
  PageURL: formPageURL

}
console.log(data);
});
</script>
